USE [master]
GO
/****** Object:  Database [LaptopStoreDB]    Script Date: 4/15/2022 8:51:31 PM ******/
CREATE DATABASE [LaptopStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LaptopStoreDB.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LaptopStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LaptopStoreDB_log.ldf' , SIZE = 2368KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopStoreDB]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](18, 0) NOT NULL,
	[status] [nvarchar](max) NULL,
	[userId] [int] NOT NULL,
	[dateCreate] [datetime] NULL CONSTRAINT [DF__Bill__dateCreate__108B795B]  DEFAULT ('1900-01-01T00:00:00.000'),
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[count] [int] NOT NULL,
	[billId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[address] [nvarchar](300) NULL,
	[phoneNumber] [varchar](15) NULL,
 CONSTRAINT [PK_dbo.BillDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[author] [nvarchar](max) NOT NULL,
	[dateCreate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[descript] [nvarchar](max) NOT NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[categoryId] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[percentSale] [int] NULL CONSTRAINT [DF_Product_percentSale]  DEFAULT ((0)),
	[promotionPrice] [decimal](18, 0) NULL,
	[shortDescript] [nvarchar](250) NULL,
	[content] [nvarchar](max) NULL,
	[cpu] [nvarchar](max) NULL,
	[ram] [nvarchar](max) NULL,
	[hardDrive] [nvarchar](max) NULL,
	[cardVGA] [nvarchar](max) NULL,
	[screenMonitor] [nvarchar](250) NULL,
	[camera] [nvarchar](max) NULL,
	[connector] [nvarchar](max) NULL,
	[weight] [nvarchar](max) NULL,
	[battery] [nvarchar](max) NULL,
	[operatingSystem] [nvarchar](max) NULL,
	[viewCount] [int] NOT NULL,
	[imageUrl] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[status] [nvarchar](max) NULL,
	[warranty] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phonenumber] [nvarchar](15) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](30) NULL,
	[userType] [nvarchar](10) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Comment]    Script Date: 4/15/2022 8:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL CONSTRAINT [DF_User_Comment_rating]  DEFAULT ((1)),
	[content] [nvarchar](max) NULL,
	[datePost] [datetime] NULL,
	[productId] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK__User_Com__3213E83FD8670A9B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate], [note]) VALUES (34, CAST(27000000 AS Decimal(18, 0)), N'Đã hủy', 7, CAST(N'2022-04-15 15:30:12.167' AS DateTime), N'tôi thích hủy')
INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate], [note]) VALUES (35, CAST(20825000 AS Decimal(18, 0)), N'Chờ xác nhận', 7, CAST(N'2022-04-15 15:30:25.520' AS DateTime), N'')
INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate], [note]) VALUES (36, CAST(27000000 AS Decimal(18, 0)), N'Chờ xác nhận', 7, CAST(N'2022-04-15 15:30:36.903' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[Bill] OFF
SET IDENTITY_INSERT [dbo].[BillDetail] ON 

INSERT [dbo].[BillDetail] ([id], [count], [billId], [productId], [address], [phoneNumber]) VALUES (41, 1, 34, 73, N'111', N'1111')
INSERT [dbo].[BillDetail] ([id], [count], [billId], [productId], [address], [phoneNumber]) VALUES (42, 1, 35, 1, N'111', N'1111')
INSERT [dbo].[BillDetail] ([id], [count], [billId], [productId], [address], [phoneNumber]) VALUES (43, 1, 36, 73, N'111', N'1111')
SET IDENTITY_INSERT [dbo].[BillDetail] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [content]) VALUES (1, N'Công ty cổ phần phát triển website by Hùng')
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (3, N'user2', N'emial2@email.com', N'1111', N'1111', N'TPLeVRzM2/UgEcLNNWKuxcu2YQhoHm9PeuXMbtGviScD01Ed', N'Đang hoạt động', N'ADMIN')
INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (4, N'thaatj', N'test@email.comm', N'asdasd', N'1111', N'LryV8aYPA2VtAy2WUuPpTrihKHiZj2q5Sxmz1Wpv14XIx9Ng', N'Đang hoạt động', N'ADMIN')
INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (5, N'testt', N'testt@email.com.vn', N'2222', N'1111', N'qma9tF+RcB152JmOQdfVgALnAGzHbXn24QH6sEu2IdUMHiEc', N'Đang hoạt động', N'ADMIN')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[User_Comment] ON 

INSERT [dbo].[User_Comment] ([id], [rating], [content], [datePost], [productId], [userId]) VALUES (2, 2, N'dasd', CAST(N'2022-04-12 17:16:46.363' AS DateTime), 1, 7)
INSERT [dbo].[User_Comment] ([id], [rating], [content], [datePost], [productId], [userId]) VALUES (3, 3, N'đâsd', CAST(N'2022-04-12 17:21:34.943' AS DateTime), 1, 7)
INSERT [dbo].[User_Comment] ([id], [rating], [content], [datePost], [productId], [userId]) VALUES (4, 4, N'fdasf', CAST(N'2022-04-12 17:51:47.847' AS DateTime), 1, 7)
SET IDENTITY_INSERT [dbo].[User_Comment] OFF
/****** Object:  Index [IX_userId]    Script Date: 4/15/2022 8:51:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_userId] ON [dbo].[Bill]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_billId]    Script Date: 4/15/2022 8:51:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_billId] ON [dbo].[BillDetail]
(
	[billId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_productId]    Script Date: 4/15/2022 8:51:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_productId] ON [dbo].[BillDetail]
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_categoryId]    Script Date: 4/15/2022 8:51:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_categoryId] ON [dbo].[Product]
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bill_dbo.User_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_dbo.Bill_dbo.User_userId]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillDetail_dbo.Bill_billId] FOREIGN KEY([billId])
REFERENCES [dbo].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_dbo.BillDetail_dbo.Bill_billId]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillDetail_dbo.Product_productId] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_dbo.BillDetail_dbo.Product_productId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_categoryId] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_categoryId]
GO
ALTER TABLE [dbo].[User_Comment]  WITH CHECK ADD  CONSTRAINT [FK__User_Comm__produ__4F47C5E3] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Comment] CHECK CONSTRAINT [FK__User_Comm__produ__4F47C5E3]
GO
ALTER TABLE [dbo].[User_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Comment] CHECK CONSTRAINT [FK_Comment_User_userId]
GO
USE [master]
GO
